// ================================================================================
// MAIN SASS FILE
// Imports other Sass partials and provides theming variables
// ================================================================================

// --------------------------------------------------------------------------
// IMPORTS
// --------------------------------------------------------------------------

// Default mixins and settings
@import '../bower_components/revealjs/css/theme/template/mixins';
@import '../bower_components/revealjs/css/theme/template/settings';

// --------------------------------------------------------------------------
// YOUR THEME
// --------------------------------------------------------------------------

// Colors
$baseTextColor: #333333;
$mainColor: <%= mainColor %>;
$headingColor: #333;
$linkColor: $mainColor; // this also includes the progress bar at the bottom
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: $mainColor;
$backgroundColor: #fff; // this is the default, but can be overridden in the index.html "context" object
$lightContrast: #e9e9e9;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:900,400);
$mainFont: 'Roboto', sans-serif;
$headingFont: $mainFont;

// Other
$headingTextShadow: none;
$headingTextTransform: none;
$borderRadiusBase: 7px;
$paddingBase: 2rem;
$marginBase: 1rem;

// Theme template
@import '../bower_components/revealjs/css/theme/template/theme';





// --------------------------------------------------------------------------
// REVEAL STYLE RESET
// --------------------------------------------------------------------------

.reveal {
	font-size: 300%;
	color: $baseTextColor;

	// Branding
	strong {
		color: $mainColor;
	}

	// h3 contrast
	h3 {
		color: rgba(0, 0, 0, .7);
	}

	// heading cushion
	h2 {
		margin-bottom: $marginBase;
	}

	// general cushions
	p,
	ul,
	ol {
		margin: $marginBase auto;
	}

	// Images
	section img {
		background: transparent;
		border: 0;
		box-shadow: none;
	}

	// Code
	pre {
		box-shadow: none;

		code {
			border-radius: $borderRadiusBase;
			padding: 0 $paddingBase;
		}
	}

	.code {
		font-family: monospace;
		color: $mainColor;
	}

	.constrain-width {
		max-width: 300px;
	}

	// Progress bar
	.progress {
		background: rgba(0, 0, 0, 0.1);
		height: 10px;
	}

	// Links
	a {
		&:hover,
		a:active {
			text-decoration: underline;
		}
	}

	blockquote {
		padding: $paddingBase;
		background: $lightContrast;
		border-radius: $borderRadiusBase;
	}

	// Section title slides
	.section-title {

		h1,
		h2,
		h4,
		h5,
		h6 {
			color: #fff;
		}

		h3,
		ul,
		ol,
		p {
			color: rgba(255, 255, 255, .5);
		}

		strong {
			color: #fff;
		}
	}
}
