// ================================================================================
// PROJECT LEVEL: SASS
// <%= presentationName %>
// Only contains Sass shared across the project.
// Imports all other Sass files (partials).
// ================================================================================



// ------------------------------------------------------------------------------
// PROJECT LEVEL: VARIABLES
// Only contains variables shared across Sass files.
// ------------------------------------------------------------------------------

// BREAKPOINTS
$breakpoint--xsmall: 32rem;
$breakpoint--small: 48rem;
$breakpoint--medium: 76.8rem;
$breakpoint--large: 90rem;
$breakpoint--xlarge: 102.4rem;
$breakpoint--xxlarge: 182.4rem;

// COLORS
$color--fill: #fff;
$color--primary: #fd7d68;
$color--light-primary: lighten($color--primary, 10%);
$color--dark-primary: darken($color--primary, 20%);
$color--dark-gray: #222222;
$color--medium-gray: #808080;
$color--light-gray: #cccccc;
$color--lighter-gray: #b3b3b3;
$color--lightest-gray: #e4e3df;

// BORDER RADIUS
$border-radius--base: .3rem;

// SPACING
$margin--base: 1.3rem;
$margin--small: ($margin--base / 2);
$margin--smaller: ($margin--small / 2);
$margin--medium: ($margin--base * 2);
$margin--large: ($margin--base * 3);
$margin--larger: ($margin--base * 4);
$padding--base: 1.3rem;
$padding--small: ($padding--base / 2);
$padding--smaller: ($padding--small / 2);
$padding--medium: ($padding--base * 2);
$padding--large: ($padding--base * 3);
$padding--larger: ($padding--base * 4);

%cushion--base {
	padding: $padding--large $padding--medium;
}

// TYPOGRAPHY
$font-family--primary: Arial, Helvetica, sans-serif;
$font-family--secondary: Monaco, monospace;
$font-size--base: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--small: 1.5rem;
$font-weight--base: 400;
$margin--small: .7rem;
$margin--medium: 1.4rem;
$margin--large: 2.6rem;
$line-height--base: 1.3;

// ANIMATIONS
$transition-speed--base: .3s;

%transition--base {
	transition: color $transition-speed--base,
		background $transition-speed--base,
		max-height $transition-speed--base,
		padding $transition-speed--base;
}



// ------------------------------------------------------------------------------
// REVEAL RESET
// ------------------------------------------------------------------------------

$font-family--primary: 'Open Sans', sans-serif;;
$font-family--secondary: Monaco, monospace;

.reveal * {
	font-family: $font-family--primary !important;
	font-weight: $font-weight--base !important;
	color: $color--dark-gray !important;
	text-shadow: none !important;
	line-height: $line-height--base;
}

.reveal h1,
.reveal h2,
.reveal h3 {
	font-weight: $font-weight--heading !important;
	line-height: 1;
	margin-bottom: $margin--base;
}

.reveal h1 {
	font-size: 5.2rem !important;
}

.reveal blockquote {
	font-size: 2rem;
	box-shadow: none;
	background: $color--lightest-gray;
	padding: $padding--base;
	border-radius: $border-radius--base;
}

.reveal em,
.reveal strong {
	color: $color--dark-gray !important;
	font-style: italic;
}

.reveal p {
	margin-top: $margin--medium;
}

.reveal ul {
	margin-top: $margin--small;

	li {
		margin-top: ($margin--small / 2);
	}
}

.reveal section img {
	border: 0;
	box-shadow: none;
	background: none;
}

.reveal code {
	color: $color--dark-primary !important;
	font-family: $font-family--secondary !important;
}

#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

textarea {
	width: 30rem !important;
	height: 10rem !important;
	font-size: 1.8rem !important;
}



// ------------------------------------------------------------------------------
// IMPORTS
// Import all Sass partials using Sass globbing.
// Currently requires version 1.1.0.
// https://github.com/chriseppstein/sass-globbing
// ------------------------------------------------------------------------------

// PROJECT SPECIFIC COMPONENTS
@import 'components/**/*.scss';
