<!-- SLIDE -->
<!-- <%= sectionName %> -->

<section class="slide slide--section <%= sectionName %>" data-background="#24abe2" data-transition="zoom">
	<h1>Background</h1>
	<ul>
		<li class="fragment roll-in">What is JS?</li>
		<li class="fragment roll-in">Why do you need JS?</li>
		<li class="fragment roll-in">How does JS fit in with HTML &amp; CSS?</li>
		<li class="fragment roll-in">How the web works.</li>
		<li class="fragment roll-in">Client vs Server.</li>
	</ul>
</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>What is JavaScript?</h1>
					<ul>
						<li class="fragment roll-in"><em>Nothing</em> to do with Java.</li>
						<li class="fragment roll-in"><em>THE</em> most important language of the web.</li>
						<li class="fragment roll-in">Used everywhere! Websites, apps, client side, server side, even machines.</li>
						<li class="fragment roll-in">Provides <em>functionality</em>.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">How does Java fit in with JavaScript?</li>
							<li class="fragment roll-in">What is JavaScript?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Why do you need JS?</h1>
					<ul>
						<li class="fragment roll-in">Disable JS on <a href="http://twitter.com" target="_blank">Twitter</a>.</li>
						<li class="fragment roll-in">Interact with the DOM.</li>
						<li class="fragment roll-in">Events.</li>
						<li class="fragment roll-in">Async goodness.</li>
						<li class="fragment roll-in">Database layer.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">Why do you need JavaScript?</li>
							<li class="fragment roll-in">What does JavaScript do?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>How does JS fit with HTML &amp; CSS?</h1>
					<ul>
						<li class="fragment roll-in">Script tags.</li>
						<li class="fragment roll-in">External links.</li>
						<li class="fragment roll-in">Inspect <a href="http://google.com" target="_blank">www.google.com</a>.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<div class="fragment roll-in">
							<p>How do you include JavaScript in your HTML?</p>
							<textarea>
							</textarea>
						</div>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>How the web works.</h1>
					<a class="button" href="http://alpha.ideavis.co/529cc5f/?utm_content=bufferd15ac&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer" target="_blank">Sweet diagram</a>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What do "front-end" and "back-end" mean?</li>
							<li class="fragment roll-in">What is the difference between the client and the server?</li>
							<li class="fragment roll-in">When does JavaScript run?</li>
							<li class="fragment roll-in">What is the difference between JavaScript and jQuery?</li>
							<li class="fragment roll-in">How does Angular fit in?</li>
							<li class="fragment roll-in">...Node?</li>
							<li class="fragment roll-in">What is <em>"BaaS"</em>?</li>
							<li class="fragment roll-in">What is a database?</li>
							<li class="fragment roll-in">What would happen to a tweet if Twitter didn't have a database?</li>
						</ul>
					</section>
