{{!-- Final slide --}}
<section class="section-title" data-background="{{ theme.mainColor }}" data-transition="{{ theme.specialTransition }}">
	<img src="images/logo.png" alt="Logo" />
	<h2>{{ goodbyeText }}</h2>
</section>
